# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
server
.vscode/
libs/gregtech-1.12.2-1.9.0.481-pure.jar
